## Dictionary

   - Dictionary stores element as keys and value pairs
   - The key is like an index, its always unique & immutable
   - The values are the objects that contain information
   - Values are accessed using their keys
   - Each key is followed by a value separated by a colon
   - The values can be immutable, mutable, & duplicates
   - Each key and value pair is separated by a comma enclosed inside curly brackets

In [1]:
fruits= {1:'apple',2:'orange',3:'grapes'}

In [2]:
type(fruits)    # to find the datatype of the object

dict

In [3]:
len(fruits)     # to find thelength or number of elements in the dictionary

3

In [4]:
fruits.keys()       # to separate the keys alone

dict_keys([1, 2, 3])

In [5]:
fruits.values()      # to separate the values alone

dict_values(['apple', 'orange', 'grapes'])

In [6]:
fruits.items()        # to view the key and value pairs in a list

dict_items([(1, 'apple'), (2, 'orange'), (3, 'grapes')])

In [7]:
# Creating a dictionary

d1 = {"India": 1, "USA": 2, "Hong Kong": 3}

# Accessing value using keys

d1["India"]

1

In [8]:
# Replacing the value for a key in a dictionary

d1["India"] = "NEW"
d1

{'India': 'NEW', 'USA': 2, 'Hong Kong': 3}

In [9]:
# Adding another key value pair to the existing dictionary

d1["Japan"] = 4
d1

{'India': 'NEW', 'USA': 2, 'Hong Kong': 3, 'Japan': 4}

In [10]:
# Deleting a key value pair

del d1["Japan"]

d1

{'India': 'NEW', 'USA': 2, 'Hong Kong': 3}

In [ ]:
# Sorting a dictionary

sorted(d1)

['Hong Kong', 'India', 'USA']

In [12]:
# values() method

d1.values()

dict_values(['NEW', 2, 3])

In [11]:
# keys() method

d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [13]:
# get() method

d1.get('India')

'NEW'

In [14]:
# update() mehtod
d1.update({"India" : 1000})
d1

{'India': 1000, 'USA': 2, 'Hong Kong': 3}

In [15]:
d1["India"] = 11111      # replacing. Alternative to update() method.
d1

{'India': 11111, 'USA': 2, 'Hong Kong': 3}