**LIST**


*   Collection of data enclosed by square [ ] brackets and separated by comma.
*   List accepts different data types
*   Ordered
*   Mutable - alteration possible after list creation.
*   Indexable

In [5]:
mix_list = ['alex', 8, 4.5, True, 5+6j]
print(mix_list)

['alex', 8, 4.5, True, (5+6j)]

In [11]:
print(len(mix_list))  # find number of elements in the list.

5

In [10]:
print(mix_list[0])  # indexing - 0th index is alex.

alex

In [12]:
print(mix_list[1:4])  # slicing - starting index 1 to ending index 4-1=3.

[8, 4.5, True]

In [13]:
print(mix_list[0:6:2])  # slicing - start : end+1 : step value. From 0th to 5th index increases by 2.

['alex', 4.5, (5+6j)]

In [18]:
mix_list.reverse()    # reversing the list elements.
print(mix_list)

[(5+6j), True, 4.5, 8, 'alex']

In [22]:
a = [4,6,2,-4,-60,73]

In [23]:
a.sort()            # sorting - smallest to largest(ascending order. doesnt work for bool and complex.
print(a)

[-60, -4, 2, 4, 6, 73]

In [32]:
max(a)      # finding maximum

73

In [33]:
min(a)      # finding minimum

-60

In [35]:
a.append(45)    # APPEND is used to add a new entry to the list. New data is added at the last index.
print(a)

[-60, -4, 2, 4, 6, 73, 45, 45]

In [36]:
a.insert(2,100)  # INSERT used to add new entry in the specified index. Here 100 is inserted into the 2nd index.
print(a)

[-60, -4, 100, 2, 4, 6, 73, 45, 45]

In [37]:
a.extend([11,22,33])    # EXTEND used to add more than one element. Also added at the end of the list like append.
print(a)

[-60, -4, 100, 2, 4, 6, 73, 45, 45, 11, 22, 33]

In [38]:
a[0] = 'Hello'        # Change the elemets of the list based on their index. 0th index will be changed to Hello.
print(a)

['Hello', -4, 100, 2, 4, 6, 73, 45, 45, 11, 22, 33]

In [40]:
a[0:3] = ['first','second','third']    # 0,1,2 indexes will be changed.

In [41]:
print(a)

['first', 'second', 'third', 2, 4, 6, 73, 45, 45, 11, 22, 33]

In [42]:
a.remove(45)  # REMOVE will delete the element in the paranthesis from the list. If more tha one 45 is there, only the first 45 is removed.
print(a)

['first', 'second', 'third', 2, 4, 6, 73, 45, 11, 22, 33]

In [43]:
a.pop()        # POP deletes the last entry.
print(a)

['first', 'second', 'third', 2, 4, 6, 73, 45, 11, 22]

In [44]:
print(a.pop(1))        # delete based on index number.

second

In [45]:
print(a)

['first', 'third', 2, 4, 6, 73, 45, 11, 22]

In [48]:
a.count(22)           # number of times 2 appers in the list a.

1

In [49]:
a.copy()            # creates a shallow copy equivalent to a[:]

['first', 'third', 2, 4, 6, 73, 45, 11, 22]

In [ ]:
#a.clear()     Removes all elements from the list. Equivalent to del a[:]