**SET**


-- Sets are a type of collection like list, dictionary.

-- Set accepts all data types.

-- No duplication is allowed in set.

-- It is an unordered structure.

-- It is applied in big data environments where data flow is high.

-- It is used in comparative analysis.

-- Sets are enclosed within curly brackets and elements are written as comma-separated

In [20]:
# converting list to set

list1 = [2,3,4,5,6]

set_1 = set(list1)

set_1

{2, 3, 4, 5, 6}

In [24]:
list2 = [1,2,3,4,5, 5, 5, 5, 5, 5,9,10,10] # duplicates are ignored

set_2 = set(list2)

set_2

{1, 2, 3, 4, 5, 9, 10}

In [25]:
set_3 = {1,2,3,4,4,7,6,8}

set_3

{1, 2, 3, 4, 6, 7, 8}

In [26]:
set_4 = set({})    # creating an empty set

type(set_4)

set

In [29]:
# adding an elemnt into the set

set_5 = {1,2,3,4,5}

set_5.add("India")

set_5

{1, 2, 3, 4, 5, 'India'}

In [30]:
# removing an element from the set

set_5.remove("India")

set_5

{1, 2, 3, 4, 5}

#### Set Operations

In [31]:
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [34]:
#union()  All the unique elemnts in both sets

print(A | B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [35]:
#intersection()   Only the elements which are common in both

print(A & B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [36]:
#difference     Elements in A which are not in B

print(A - B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

#### Practice Codes

In [41]:
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]
set_6 = set(A) & set(B)     # convert list to set, & stands for intersection
print(sorted(set_6))        # sorting the output

[1, 3, 5, 7]

In [43]:
list_6 = [5,1,3,4,4,5,6,7]
list_7 = [3,3,5,5,1,7,2]
list_6_as_set = set(list_6)
i = list_6_as_set.intersection(list_7)
print(list(i))         # converting to list
print(i)

[1, 3, 5, 7]
{1, 3, 5, 7}