**TUPLES**

-- Normal representation of a value.

-- Elements of tuple are separated by comma.

-- Elements are enclosed in parentheses.

-- Tuples are immutable.

In [1]:
t = (5,10,15,20)

In [3]:
type(t)

tuple

In [2]:
t.index(10)    # finding index position of elements

1

In [5]:
t1 = (1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,5,5,)

In [6]:
t1.count(5)   # finding number of time '5' is present

6

In [7]:
t2 = (5,6,3,1,4,2)

In [10]:
sorted(t2)     # sorting in ascending order

[1, 2, 3, 4, 5, 6]

In [12]:
t2[0:3]      # slicing elemts index 0 to 3

(5, 6, 3)

In [13]:
len(t1)   # finding number of elements

17

In [14]:
max(t1)     # finding the highest value

5

In [15]:
min(t1)         # finding the lowest value

1